@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-border {
    border-width: 2px;
    border-color: #000; /* 必要に応じて色を変更 */
  }
}

@layer base {
  :root {
    --radius: 0.5rem
  }
}